/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.DS_Store
Makefile
/lib/digest/blake3/*.bundle
/lib/digest/blake3/*.so
/ext/digest/blake3_ext/Makefile
/ext/digest/blake3_ext/*.o
/benchmark/rust_gem/*
!/benchmark/rust_gem/.gitkeep
