---
name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        ruby: ["3.2", "3.3", "3.4", "4.0", "ruby-head"]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc # v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install b3sum for parity tests
        run: |
          if [[ "${{ runner.os }}" == "Linux" ]]; then
            curl -sSL https://github.com/BLAKE3-team/BLAKE3/releases/download/1.5.1/b3sum_linux_x64_bin -o b3sum
            chmod +x b3sum
            sudo mv b3sum /usr/local/bin/
          elif [[ "${{ runner.os }}" == "macOS" ]]; then
            brew install b3sum
          fi

      - name: Compile
        run: bundle exec rake compile

      - name: Run ruby tests
        run: bundle exec rake test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc # v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Rubocop
        run: bundle exec rake rubocop
