---
name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        ruby: ["3.1", "3.2", "3.3", "ruby-head"]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: oxidize-rb/actions/setup-ruby-and-rust@02b64e04ebb629c9b325137355369f43b1fcfa80 # v1.4.3
        with:
          rustup-toolchain: "1.78"
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cargo-cache: true
          cache-version: v1

      - uses: oxidize-rb/actions/cargo-binstall@02b64e04ebb629c9b325137355369f43b1fcfa80 # v1.4.3
        with:
          crate: "b3sum"
          version: "1.5.1"

      - name: Compile
        run: bundle exec rake compile

      - name: Run ruby tests
        run: bundle exec rake test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: oxidize-rb/actions/setup-ruby-and-rust@02b64e04ebb629c9b325137355369f43b1fcfa80 # v1.4.3
        with:
          rustup-toolchain: "1.78"
          ruby-version: "3.3"
          bundler-cache: true
          cargo-cache: true
          cache-version: v1

      - name: Clippy
        run: cargo clippy -- -D warnings

      - name: Cargo
        run: cargo fmt --check

      - name: Rubocop
        run: bundle exec rake rubocop
