---
name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  source-gem:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc # v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Build gem
        run: bundle exec rake build

      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: source-gem
          path: pkg/*.gem

  test-source-gem-install:
    runs-on: ${{ matrix.os }}
    needs: source-gem
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        ruby: ["3.2", "3.3", "3.4"]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: source-gem
          path: pkg

      - uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc # v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Test source gem install
        shell: bash
        run: test/test_gem_install.sh pkg/*.gem

  release:
    name: Create release for ${{ github.ref }}
    needs: [test-source-gem-install]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: source-gem
          path: pkg

      - name: Create release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          script: |
            const fs = require("fs");
            const path = require("path");

            const release = await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "${{ github.ref }}",
              name: "${{ github.ref_name }}",
              generate_release_notes: true
            });

            const globber = await glob.create("pkg/*.gem");

            for await (const file of globber.globGenerator()) {
              console.log("Uploading " + file);

              const data = fs.readFileSync(file);

              await github.rest.repos.uploadReleaseAsset({
                owner: context.repo.owner,
                repo: context.repo.repo,
                release_id: release.data.id,
                name: path.basename(file),
                data: data,
              });
            }
